/bin/
/project-nb/FA/nbproject/private/
/project-nb/FA/FA-war/nbproject/private/
/project-nb/FA/FA-ejb/nbproject/private/
/project-nb/FA/dist/
/project-nb/FA/build/
/project-nb/FA/FA-war/build/
/project-nb/FA/FA-war/dist/
/project-nb/FA/FA-ejb/build/
/project-nb/FA/FA-ejb/dist/
*.war

*.war
/project-nb/prototype/FA/nbproject/private/
/project-nb/prototype/FA/FA-ejb/nbproject/private/
/project-nb/prototype/FA-ear/nbproject/private/
/project-nb/prototype/FA-ear/FA-ejb/nbproject/private/
/project-nb/prototype/nbproject/private/
/project-nb/prototype/build/
/project-nb/prototype/prototype-war/nbproject/private/
/project-nb/prototype/prototype-ejb/nbproject/private/
/project-nb/prototype/prototype-ejb/build/
/project-nb/prototype/prototype-ejb/dist/
/project-nb/prototype/prototype-war/build/
/project-nb/prototype/prototype-war/dist/
/project-nb/example2-war/nbproject/private/
/project-nb/example2-war/build/