/* 
    Created on : Jun 24, 2016, 1:53:12 PM
    Author     : song
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    text-align: center;
    margin: 20px auto;
}

#main { background: #eee }

#header {
    height: 60px;
    background-color: silver;
}

#footer {
    height: 30px;
    background-color: silver;
}

.errorMsg{
    background: red;
    font-style: italic;
    color :black;
}